@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgb(78, 78, 78);
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: antiquewhite;
    word-wrap: break-word;
    overflow-x: hidden;
}

/* Header */
header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: max(2vh, 20px) 20vw;
    box-shadow: 0 1px 1px 2px rgba(103, 102, 102, 0.149);
    z-index: 1;
}
.logo > span{
    color: rgb(246, 173, 128);
    font-size: 3rem;
}
span.logo{
    color: rgb(246, 173, 128);
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: max(1vw, 10px );

    /* font-family: 'Caveat', cursive; */
}

/* Main */
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgb(252, 229, 197);
    gap: max(2vh, 15px);
    padding: max(2vw, 20px) 20vw;
}
main .button-container{
    display: flex;
    justify-content: center;
}
main .button-container button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    gap: max(0.2vw, 2px);
    transition-duration: 200ms;
    padding: 10px;

    color: rgb(246, 173, 128);
}
main .button-container button:hover{
    /* background-color: rgba(243, 183, 105, 0.506); */
    cursor: pointer;
    /* transform: translate(0, -5px);    
     */

     color: rgb(249, 138, 70);

     /* color: rgb(232, 152, 22); */
}
main .button-container button span{
    font-size: 2rem;
    color: inherit;
}
main .books-container{
    display: grid;
    gap: max(1vw, 10px);
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    align-content: flex-start;
}
main .books-container .book{
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: max(2vh, 15px) max(2vw, 20px);
    /* overflow: hidden; */
    transition-duration: 100ms;
    gap: max(3vh, 20px);
    border-radius: 5px;
}
main .books-container .book .book-info{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: max(2vh, 20px);
}
.book .button-group{
    display: flex;
    flex-flow: column;
    /* gap: max(1vh, 10px); */
    width: 100%;
}
.book-info > span{
    width: 200px;
     /* white-space: wrap; */
    /* text-overflow:ellipsis; */
    /* overflow: hidden; */
}
.book-info > .title{
    font-weight: 1000;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
}
.book-info > .author, .book-info > .num-pages{
    /* color: rgb(68, 68, 68); */
    font-weight: 700;
}
.book-info > .author::before{
    content: "Author: ";
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}
.book-info > .num-pages::before{
    content: "Pages: ";
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(150, 150, 150);
}
.button-group button{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.button-group button.remove{
    color: rgb(155, 155, 155);
    font-size: 0.8rem;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
}
.button-group button.remove:hover{
    cursor: pointer;
    color: rgb(70, 69, 69);
}
.button-group button.read{
    background-color: rgb(71, 209, 140);
}
.button-group button.read:hover{
    cursor: pointer;
    background-color: rgb(60, 205, 132);
}
.button-group button.not-read{
    background-color: rgb(245, 107, 107);
}
.button-group button.not-read:hover{
    cursor: pointer;
    background-color: rgb(252, 116, 116);
}

/* Footer */
footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: max(1vh, 10px) 20vw;
    gap: max(0.5vw, 5px);

    box-shadow: 0 -1px 1px 2px rgba(103, 102, 102, 0.149);
    z-index: 1;
}
footer a svg{
    transition-duration: 500ms;
    width: 30px;
}
a:hover svg{
    cursor: pointer;
    rotate: 360deg;
    scale: 1.2;
    /* fill: rgb(246, 173, 128); */
}

.dialog-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.64);
    z-index: 8;
}
.hide-container{
    display: none;
}
.addNewBook-modal{
    width: min(90vw, 300px);
    height: min(70vh, 300px);

    position: fixed;
    top: 35%;
    left: 50%;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: max(1vh, 10px) max(1vw, 10px);
    border: none;
    background-color: rgb(243, 236, 229);
    border-radius: 5px;
    gap: max(2vh, 20px);

    z-index: 9;

    transform: translate(-50%, -50%) scale(0);
    transition-duration: 150ms;
}
.show-modal{
    transform: translate(-50%, -50%) scale(1);
}
.addNewBook-modal > p{
    font-weight: 700;
    font-size: 1.2rem;
}
.addNewBook-modal > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.addNewBook-modal > form > fieldset{
    width: 100%;
    border: none;
    display: flex;
    flex-flow: column;
    gap: max(1vh, 10px);
}
fieldset input[type="text"], fieldset input[type="number"]{
    width: 100%;
    border: none;
    height: 40px;
    padding: 0 max(1vw, 10px);
    border-radius: 5px;
}
fieldset input[type="checkbox"]{
    width: 12px;
    height: 12px;
}
fieldset label{
    font-weight: 600;
    font-size: 0.9rem;
}
.addNewBook-modal > form > fieldset:nth-child(2){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: max(1vh, 10px) max(1vw, 10px);
}
input:focus{
    outline-color: rgb(252, 159, 29);;
}
.addNewBook-modal > form > button{
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(74, 151, 245);
    border-radius: 5px;
    margin-top: auto;
}
.addNewBook-modal > form > button:hover{
    cursor: pointer;
    background-color: rgb(55, 141, 245);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
}
.shake{
    animation: shake 0.5s ease-in-out infinite;
}

@media screen and (max-width: 1200px){
    header{
        padding: max(2vh, 20px) max(5vw, 20px);
        grid-template-columns: auto;
        justify-content: unset;
    }

    main{
        padding: max(2vw, 20px) max(5vw, 20px);
    }

    footer{
        padding: max(1vh, 10px) max(5vw, 20px);
    }
}

@media screen and (max-width: 500px){
    /* main .books-container{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .book-info > span{
        width: 160px;
        white-space: wrap;
        text-overflow:ellipsis;
    } */
}