@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgb(62, 61, 61);
}

header, main, footer{
    /* border: 1px solid red; */
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: antiquewhite;
}

header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: max(2vh, 20px) 20vw;
    box-shadow: 0 1px 1px rgba(234, 202, 178, 0.722);
    z-index: 1;
}

.logo > span{
    color: rgb(246, 173, 128);
    font-size: 3rem;
}

span.logo{
    color: rgb(246, 173, 128);
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: max(1vw, 10px );

    /* font-family: 'Caveat', cursive; */
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgb(252, 229, 197);
    padding: max(2vw, 20px) 20vw;
}

main .button-container{
    display: flex;
    justify-content: center;
}

.button-container button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    gap: max(0.2vw, 2px);
    transition-duration: 200ms;
    padding: 10px;

    color: rgb(246, 173, 128);
}

.button-container button:hover{
    border-radius: 5px;
    /* background-color: rgba(243, 183, 105, 0.506); */
    cursor: pointer;
    /* transform: translate(0, -5px);    
     */

     color: rgb(249, 138, 70);
}

.button-container button span{
    font-size: 2rem;
    color: inherit;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: max(1vh, 10px) 20vw;
    gap: max(0.5vw, 5px);
}

footer a svg{
    transition-duration: 500ms;
    width: 30px;
}

a:hover svg{
    cursor: pointer;
    rotate: 360deg;
    scale: 1.2;
    /* fill: rgb(246, 173, 128); */
}